@import "/src/scss/mixins.scss";
@import "bootstrap/dist/css/bootstrap.min.css";

transaction-page {
  @include pageStyle(column);
  .container-current-balance {
    display: flex;
    gap: 14px;
    align-self: end;
    padding: 10px;
    .current-balance,
    .current-limit {
      font-weight: bold;
      &.positive {
        color: green;
      }
      &.negative {
        color: red;
      }
    }
  }
  form {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
  }

  .material-symbols-outlined {
    font-size: 16px;
  }
  .btn-transaction {
    max-width: 200px;
    background-color: var(--color-yellow-light);
    &:hover {
      background-color: var(--color-yellow);
    }
  }

  .modal-footer {
    .btn-send {
      background-color: var(--color-yellow-light);
      &:hover {
        background-color: var(--color-yellow);
      }
    }
    .btn-closed {
      &:hover {
        background-color: var(--color-yellow-light);
      }
    }
  }
  .row-header {
    display: flex;
    align-items: center;
    height: 20px;
    justify-content: space-between;
    width: 60%;
    cursor: pointer;
  }

  nav {
    margin-top: 15px;
    align-self: center;
    .page-item {
      .page-link {
        color: var(--color-pink);
      }
      .page-previous,
      .page-next {
        background-color: var(--color-yellow-light);
        transition: background-color ease-out 0.5s;
        &:hover {
          background-color: var(--color-yellow);
        }
        &:disabled {
          background-color: var(--color-yellow-dark);
          cursor: not-allowed;
        }
      }
    }
  }
  .table-container {
    overflow-y: auto;
    border-radius: 5px;
    min-height: 170px;
    table {
      margin: 0;
    }
    td:first-child,
    th:first-child {
      position: sticky;
      text-align: left;
      top: 0;
      left: 0;
    }
    td:last-child,
    th:last-child {
      position: sticky;
      top: 0;
      right: 0;
    }
  }
  #chart-payment {
    margin-bottom: 20px;
  }
}
