<div class="card login">
  <form class="was-validated">
    <div class="mb-3">
      <label class="form-label"> Nome </label>
      <input type="text" class="form-control form" name="name" minlength="3" placeholder="Digite seu nome" required />
      <div class="error-message"></div>
    </div>

    <div class="mb-3 password">
      <label class="form-label"> Senha </label>
      <input
        type="password"
        class="form-control form icon-eye-closed icon-eye-open"
        name="password"
        placeholder="Digite sua senha"
        autocomplete="off"
        minlength="8"
        required
      />

      <div class="see-password"></div>
      <div class="error-message"></div>
    </div>

    <button class="btn btn-add" type="button">Entrar</button>
  </form>
</div>
<div class="card card-illustration">
  <span class="anchor">Você ainda não é cadastrado,crie sua conta aqui!</span>
  <a href="#register">
    <button type="button" class="btn btn-account">
      <span class="material-symbols-outlined icon"> group_add </span>
      Criar uma conta
    </button>
  </a>
  <img class="illustration" src="{{illustration}}" alt="imagem de cadastrar" />
</div>
