@import "/src/scss/mixins.scss";
login-page {
  .btn-add {
    width: 100%;
    justify-content: center !important;
    color: white;
    background-color: var(--color-pink);
  }
  a {
    text-decoration: none;
  }
}
