@import "mixins";

transaction-page {
  @include pageStyle(column);

  .icon-calendar {
    background-image: url("/src/assets/calendar.png") !important;
    cursor: pointer;
  }

  .container-current-balance {
    display: flex;
    gap: 14px;
    align-self: end;
    padding: 10px;
    .current-balance,
    .current-limit {
      font-weight: bold;
      &.positive {
        color: green;
      }
      &.negative {
        color: red;
      }
    }
  }
  form {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
  }

  .group-input {
    @include display-align-content();
    border-radius: 5px;
    .input-group-text {
      border: none;
      background-color: var(--color-white);
      border-radius: 5px 0px 0px 5px;
      padding: 10px;
    }
    .form-search {
      border: none;
      padding: 9px;
      border-radius: 0px 5px 5px 0px;
    }
    :focus-visible {
      outline: none;
    }
  }

  .material-symbols-outlined {
    font-size: 16px;
  }
  .btn-transaction {
    @include btn-simple();
  }

  .row-header {
    display: flex;
    align-items: center;
    height: 20px;
    justify-content: space-between;
    width: 60%;
    cursor: pointer;
  }

  .table-container {
    overflow-y: auto;
    border-radius: 5px;
    min-height: 170px;
    table {
      margin: 0;
    }
    td:first-child,
    th:first-child {
      position: sticky;
      text-align: left;
      top: 0;
      left: 0;
    }
    td:last-child,
    th:last-child {
      position: sticky;
      top: 0;
      right: 0;
    }
  }
  #chart-payment {
    margin-bottom: 30px;
  }
}
