@import "/src/scss/reset.scss";
@import "/src/scss/mixins.scss";
:root {
  --color-pink: #ff0f52;
  --color-orange: #ff9f18;
  --color-orange-light: #f2b97bfc;
  --color-yellow: #ffea38;
  --color-yellow-light: #fffb93;
  --color-white: #fffbe6;
  --color-black: #000000;
  --color-red: #f80505;
}
home-page {
  @include pageStyle(column);

  .option,
  form-select {
    color: var(--color-pink) !important;
  }
  .button-group {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    flex-wrap: wrap;

    .btn {
      border: none;
      display: flex;
      align-items: center;
      transition: background-color ease-out 0.5s;
      .icon {
        margin-right: 5px;
      }
    }
    .btn-search {
      background-color: var(--color-yellow-light);
      border: 1px solid var(--color-orange);
      &:hover {
        background-color: var(--color-yellow);
        border: 1px solid var(--color-orange);
      }
    }
    .btn-clean {
      border: 1px solid var(--color-orange);
      color: #ff0f52;
      &:hover {
        background-color: rgb(255 251 147 / 92%);
      }
    }
  }
}
