@import "/src/scss/mixins.scss";
@import "bootstrap/dist/css/bootstrap.min.css";

about-page {
  @include pageStyle(column);
  form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  .material-symbols-outlined {
    font-size: 16px;
  }
  .btn-transaction {
    max-width: 200px;
    background-color: var(--color-yellow-light);
    &:hover {
      background-color: var(--color-yellow);
    }
  }
  .table-container {
    overflow-y: auto;
    border-radius: 5px;
    min-height: 170px;
    table {
      margin: 0;
    }
  }
  td:last-child,
  td:first-child,
  th:last-child,
  th:first-child {
    text-align: center;
  }
  .modal-footer {
    .btn-send {
      background-color: var(--color-yellow-light);
      &:hover {
        background-color: var(--color-yellow);
      }
    }
    .btn-closed {
      &:hover {
        background-color: var(--color-yellow-light);
      }
    }
  }
  .row-header {
    display: flex;
    align-items: center;
    height: 20px;
    justify-content: space-between;
    width: 60%;
    cursor: pointer;
  }
  .delete {
    color: var(--color-red);
    cursor: pointer;
    &:hover {
      color: var(--color-pink-border);
    }
  }
  .edit {
    color: var(--color-yellow-dark);
    cursor: pointer;
    &:hover {
      color: var(--color-yellow-light);
    }
  }
  .duplicate {
    color: var(--color-yellow-dark);
    cursor: pointer;
    &:hover {
      color: var(--color-yellow-light);
    }
  }
  nav {
    margin-top: 15px;
    align-self: center;
    .page-item {
      .page-link {
        color: var(--color-pink);
      }
      .page-previous,
      .page-next {
        background-color: var(--color-yellow-light);
        transition: background-color ease-out 0.5s;
        &:hover {
          background-color: var(--color-yellow);
        }
        &:disabled {
          background-color: var(--color-yellow-dark);
          cursor: not-allowed;
        }
      }
    }
  }
}
