@import "mixins";
card-account-page {
  @include pageStyle(column);
  gap: 10px;
  .rotate {
    transform: rotateY(180deg) !important;
  }
  .carousel {
    display: flex;
    align-items: center;
    height: 200px;
    position: relative;
    width: 100%;
  }

  .next,
  .previous {
    position: absolute;
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    z-index: 1;
    transition: background-color 0.5s ease-in-out, 0.5s ease-in-out, transform 0.5s ease-in-out;
    border-radius: 50%;
    span {
      position: relative;
      top: -2px;
    }
    &:hover {
      color: white;
      transform: scale(1.2);
      background-color: #505050;
    }
    &:disabled {
      cursor: not-allowed;
    }
  }

  .next {
    right: 0;
  }

  .previous {
    left: 0;
  }
  .signature-name {
    font-family: "Rock Salt", cursive;
  }

  .card-container {
    display: flex;
    gap: 10px;
    width: 100%;
    overflow: hidden;
    transition: transform 0.5s ease-in-out;
  }
  .add-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .cards {
    display: flex;
  }
  .first {
    cursor: default !important;
  }
  .card-credit {
    font-family: "Lato", sans-serif;
    height: 170px;
    background-color: lightgrey;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    min-width: 250px;
    border: 1px solid #ddd;
    text-align: center;
    opacity: 0.5;
    transform: scale(0.9);
    cursor: pointer;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    position: relative;

    .flip:hover {
      opacity: 1;
      transform: scale(1);
    }

    .flip {
      position: absolute;
      user-select: none;
      z-index: 1;
      right: 0;
      top: 0;
      transform: scale(0.5);
      background: white;
      padding: 5px;
      border-radius: 50%;
      opacity: 0.5;
      transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
      animation: brath 4s linear infinite;
    }

    .circle {
      display: flex;
      background-color: var(--color-gray-dark);
      border-radius: 50%;
      padding: 5px;
      text-align: center;

      .add-card-credit {
        color: white;
        cursor: pointer;
      }
    }
    .number {
      color: var(--color-very-light-gray);
      font-weight: bold;
    }
    .name {
      color: var(--color-gray-light);
    }

    .front {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 10px;
      transform: rotateY(0deg);

      .date-valid {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 100%;
        .text {
          color: var(--color-smoke-gray);
          font-weight: bold;
        }
        .date {
          color: var(--color-silver-gray);
        }
      }
    }

    .information {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      gap: 10px;
      margin-top: 15px;
    }
    .back {
      transform: rotateY(-180deg);
      display: none;

      .information {
        background-color: #ddd;
        padding: 5px;
        display: flex;
        flex-direction: row;
        border-radius: 5px;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        min-width: 200px;
        width: 100%;
        .cvv-content {
          .text {
            border-radius: 5px;
            background-color: #505050;
            color: white;
            padding: 2px;
          }
        }
      }
    }
    .chip {
      img {
        width: 30px;
        height: 30px;
        position: relative;
        right: 90px;
        bottom: 10px;
      }
    }

    &:hover,
    &.selected {
      opacity: 1 !important;
      transform: scale(1);
    }
  }
  .info {
    font-weight: 600 !important;
  }
  .credit-value {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .limit-credit {
    .form-label {
      font-size: 18px;
      margin-bottom: 15px;
    }
    input[type="range"] {
      background: var(--input-range-color);
      border-radius: 8px;
      height: 8px;
      width: 100%;
      outline: none;
      appearance: none;
      margin-top: 25px;
      box-shadow: 0px 0px 0px 1px #958f8f75;
      &:active::-webkit-slider-thumb,
      &:hover::-webkit-slider-thumb {
        box-shadow: 0 0 0 10px var(--color-pink-light);
      }
      &::-webkit-slider-thumb {
        position: relative;
        z-index: 2;
        cursor: pointer;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        transition: box-shadow 0.5s ease-in-out;
        -webkit-appearance: none;
        border: 3px solid var(--color-white);
        background: var(--color-pink);
      }
    }
  }
  .range {
    position: relative;
    width: 100%;
    &::before {
      position: absolute;
      content: "";
      width: var(--width);
      height: 100%;
      background: var(--limit-range-color);
      border-radius: 8px;
    }
  }
  div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm {
    color: var(--color-pink) !important;
    border: 1px solid var(--color-pink);
  }

  div:where(.swal2-container) button:where(.swal2-styled).swal2-default-outline:focus {
    box-shadow: none;
  }
  div:where(.swal2-container).swal2-center > .swal2-popup {
    border-top: 5px solid var(--color-pink);
    border-radius: 12px;
  }
}
@keyframes brath {
  0% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(0.6);
  }
  100% {
    transform: scale(0.5);
  }
}
