@import "mixins";
notification-page {
  @include pageStyle(column);
  .list-group-item {
    background-color: var(--color-white);
    border: 1px solid var(--color-gray-medium);
    margin-bottom: 10px;
    border-radius: 4px;
    &:hover {
      filter: contrast(75%);
    }
    &.active {
      background-color: var(--color-pink);
      border: 1px solid var(--color-red);
      color: var(--color-white);
      .description-container .current-date .time {
        border: 1px solid white;
        color: var(--color-white);
      }
    }
    .title {
      font-weight: 600;
    }
    .description-container {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .current-date {
        position: relative;
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-end;
        gap: 5px;
        .date {
          font-size: 12px;
          font-weight: bold;
        }
        .time {
          border: 1px solid var(--color-pink);
          color: var(--color-pink);
          padding: 5px 5px;
          border-radius: 4px;
          font-size: 10px;
          max-width: 38px;
        }
      }
    }
    // @media screen and (max-width: 600px) {

    // }
  }
  .menu-notification {
    z-index: 99;
    min-width: 120px;
    box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.2);
    position: absolute;
    display: none;
    background-color: white;

    .menu-options {
      list-style: none;
      padding: 10px 0;

      .menu-option {
        font-weight: 500;
        font-size: 14px;
        padding: 10px 40px 10px 20px;
        cursor: pointer;

        &:hover {
          background: rgba(0, 0, 0, 0.2);
        }
      }
    }
  }
}
