@import "/src/scss/reset.scss";
@import "/src/scss/mixins.scss";

account-page {
  @include pageStyle(column);

  .card {
    border: 1px solid var(--color-gray-dark);
    margin-bottom: 15px;
    .card-header {
      background-color: var(--color-gray-medium);
      font-weight: 700;
      border-bottom: 1px solid var(--color-gray-dark);
      font-size: 18px;
      padding: 12px;
    }

    .card-title {
      margin-bottom: 15px;
    }
  }

  .content-row {
    display: flex;
    margin-bottom: 30px;
    .title {
      font-weight: 700;
      font-size: 25px;
    }
    .btn-account {
      color: var(--color-red-border);
      background-color: var(--color-white);
      max-width: 200px;
      &:hover {
        color: var(--color-pink);
        background-color: var(--color-violet-light);
      }
    }
  }
  .table-container {
    overflow-y: auto;
    border-radius: 5px;
    min-height: 170px;
    table {
      margin: 0;
    }
    td:first-child,
    th:first-child {
      position: sticky;
      top: 0;
      left: 0;
    }
    td:last-child,
    th:last-child {
      position: sticky;
      top: 0;
      right: 0;
    }
  }

  td:last-child,
  td:first-child,
  th:last-child,
  th:first-child {
    text-align: center;
  }
}
