<div class="card text-center">
  <div class="card-header">Fatura atual</div>
  <div class="card-body">
    <h5 class="card-title">Setembro - 2025</h5>
    <h5 class="card-title">800,00</h5>
    <div class="card-title"><span class="info">Limite disponível: </span>500,00</div>
    <div class="card-title"><span class="info">Fechamento: </span>18 set</div>

    <div class="content-row">
      <button class="btn btn-add" type="button">Pagar</button>
      <button class="btn btn-add" type="button">Ver fatura</button>
    </div>
  </div>
  <div class="card-footer text-body-secondary">Vencimento 12/12/2025</div>
</div>

<div class="row-content">
  <div class="card text-center" style="width: 250px">
    <div class="card-header">Fatura paga</div>
    <div class="card-body">
      <h5 class="card-title">Setembro - 2025</h5>
      <h5 class="card-title">800,00</h5>
    </div>
    <div class="card-footer text-body-secondary">Vencimento 12/12/2025</div>
  </div>
  <div class="card text-center" style="width: 250px">
    <div class="card-header">Fatura paga</div>
    <div class="card-body">
      <h5 class="card-title">Setembro - 2025</h5>
      <h5 class="card-title">800,00</h5>
    </div>
    <div class="card-footer text-body-secondary">Vencimento 12/12/2025</div>
  </div>
</div>

<button class="btn btn-add" type="button">Mostrar todas as compras</button>

<!-- <div class="payment-history">
  <div class="payment-item">
    <div class="icon">
      <span class="material-icons">restaurant</span>
    </div>
    <div class="details">
      <h4>Comida</h4>
      <p>15 de Agosto, 2024</p>
    </div>
    <div class="amount">R$ 50,00</div>
  </div>

  <div class="payment-item">
    <div class="icon">
      <span class="material-icons">directions_bus</span>
    </div>
    <div class="details">
      <h4>Transporte</h4>
      <p>10 de Agosto, 2024</p>
    </div>
    <div class="amount">R$ 20,00</div>
  </div>

  <div class="payment-item">
    <div class="icon">
      <span class="material-icons">shopping_cart</span>
    </div>
    <div class="details">
      <h4>Outros</h4>
      <p>5 de Agosto, 2024</p>
    </div>
    <div class="amount">R$ 100,00</div>
  </div>

  <div class="payment-item">
    <div class="icon">
      <span class="material-icons">error</span>
    </div>
    <div class="details">
      <h4>Pagamento Falhou</h4>
      <p>2 de Agosto, 2024</p>
    </div>
    <div class="amount failed">R$ 150,00</div>
  </div>
</div> -->
