@import "/src/scss/reset.scss";
@import "/src/scss/mixins.scss";
div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm {
  color: var(--color-pink) !important;
  border: 1px solid var(--color-pink);
}

div:where(.swal2-container) button:where(.swal2-styled).swal2-default-outline:focus {
  box-shadow: none;
}
div:where(.swal2-container).swal2-center > .swal2-popup {
  border-top: 5px solid var(--color-pink);
  border-radius: 12px;
}
account-page {
  @include pageStyle(column);

  .card {
    border: 1px solid var(--color-gray-dark);
    margin-bottom: 45px;
    .card-header {
      background-color: var(--color-gray-medium);
      font-weight: 700;
      border-bottom: 1px solid var(--color-gray-dark);
      font-size: 18px;
      padding: 12px;
    }
    .card-body {
      padding-bottom: 60px;
    }
    .card-title {
      margin-bottom: 15px;
    }
    .info {
      font-weight: 600 !important;
    }
    .credit-value {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
    .limit-credit {
      margin-top: 20px;
      .form-label {
        font-size: 18px;
        margin-bottom: 15px;
      }
      input[type="range"] {
        background: var(--input-range-color);
        border-radius: 8px;
        height: 8px;
        width: 100%;
        outline: none;
        appearance: none;
        margin-top: 25px;
        box-shadow: 0px 0px 0px 1px #958f8f75;
        &:active::-webkit-slider-thumb,
        &:hover::-webkit-slider-thumb {
          box-shadow: 0 0 0 10px var(--color-pink-light);
        }
        &::-webkit-slider-thumb {
          position: relative;
          z-index: 2;
          cursor: pointer;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          transition: box-shadow 0.5s ease-in-out;
          -webkit-appearance: none;
          border: 3px solid var(--color-white);
          background: var(--color-pink);
        }
      }
    }
  }

  .range {
    position: relative;
    width: 100%;
    &::before {
      position: absolute;
      content: "";
      width: var(--width);
      height: 100%;
      background: var(--limit-range-color);
      border-radius: 8px;
    }
  }

  .content-row {
    display: flex;
    margin-bottom: 30px;
    .title {
      font-weight: 700;
      font-size: 25px;
    }
    .btn-account {
      color: var(--color-red-border);
      background-color: var(--color-white);
      max-width: 200px;
      &:hover {
        color: var(--color-pink);
        background-color: var(--color-violet-light);
      }
    }
  }
  .table-container {
    overflow-y: auto;
    border-radius: 5px;
    min-height: 170px;
    table {
      margin: 0;
    }
    td:first-child,
    th:first-child {
      position: sticky;
      top: 0;
      left: 0;
    }
    td:last-child,
    th:last-child {
      position: sticky;
      top: 0;
      right: 0;
    }
  }

  td:last-child,
  td:first-child,
  th:last-child,
  th:first-child {
    text-align: center;
  }
}
