@import "/src/scss/reset.scss";
@import "/src/scss/mixins.scss";

account-page {
  @include pageStyle(column);
  .info {
    font-weight: 600 !important;
  }

  input[type="range"] {
    background: var(--input-range-color);
    border-radius: 8px;
    height: 8px;
    width: 100%;
    outline: none;
    transition: background 450ms ease-in;
    appearance: none;
    margin-top: 25px;
    &::-webkit-slider-thumb {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      -webkit-appearance: none;
      border: 3px solid #ffffff;
      box-shadow: 0 0 0 10px #fcd3e47a;
      cursor: ew-resize;
      background: #fe5e71;
    }
  }
  .card {
    border: 1px solid var(--color-gray-dark);
    margin-bottom: 45px;
  }
  .card-header {
    background-color: var(--color-gray-medium);
    font-weight: 700;
    border-bottom: 1px solid var(--color-gray-dark);
    font-size: 18px;
    padding: 12px;
  }
  .card-body {
    padding-bottom: 60px;
  }
  .card-title {
    margin-bottom: 15px;
  }

  .line {
    border-bottom: 0.2px solid #7c7a7a;
  }
  .form-label {
    font-size: 18px;
    margin-bottom: 15px;
  }
  .limit-credit {
    margin-top: 20px;
  }
  .content-row {
    display: flex;
    margin-bottom: 30px;
    .title {
      font-weight: 700;
      font-size: 25px;
    }
    .btn-account {
      color: var(--color-pink-border);
      background-color: white;
      max-width: 200px;
    }
  }
  td:last-child,
  td:first-child,
  th:last-child,
  th:first-child {
    text-align: center;
  }
  .account-info {
    @include display-none(true);
    border: 1px solid var(--color-pink-border);
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 10px;
  }
}
