<div class="card register">
  <form class="was-validated">
    <div class="mb-3">
      <label class="form-label">Nome </label>
      <input type="text" class="form-control form" name="name" placeholder="Digite seu nome" minlength="3" required />
      <div class="error-message"></div>
    </div>
    <div class="mb-3">
      <label class="form-label"> E-mail </label>
      <input type="email" class="form-control form" name="email" placeholder="Digite seu email" required />
      <div class="error-message"></div>
    </div>
    <div class="mb-3 password">
      <label class="form-label">Senha </label>
      <input
        type="password"
        class="form-control form icon-eye-closed icon-eye-open"
        name="password"
        placeholder="Digite sua senha"
        autocomplete="off"
        minlength="8"
        required
      />
      <div class="see-password"></div>
      <div class="error-message"></div>
    </div>
    <div class="mb-3 password">
      <label class="form-label">Confirme sua senha </label>
      <input
        type="password"
        class="form-control form icon-eye-closed icon-eye-open"
        placeholder="Digite sua senha"
        name="confirmPassword"
        autocomplete="off"
        minlength="8"
        required
      />
      <div class="see-confirm-password"></div>
      <div class="error-message"></div>
    </div>
    <button class="btn btn-add" type="button">Cadastrar</button>
  </form>
</div>
<div class="card card-illustration">
  <span class="anchor">Você ja é cadastrado, logue sua conta aqui!</span>
  <a href="#login">
    <button type="button" class="btn btn-account">
      <span class="material-symbols-outlined icon"> group_add </span>
      Entrar na conta
    </button>
  </a>
  <img src="{{illustration}}" class="illustration" alt="imagem de login" />
</div>
