@import "reset";
@import "mixins";

:root {
  --color-pink: #fe5e71;
  --color-violet-light: #ebe5fc;
  --color-black: #000;
  --color-pink-light: #fccfd5;
  --color-pink-medium: #ffbfbf;
  --color-orange: #ff8f16;
  --color-yellow-light: #fffb93;
  --color-white: #ffff;
  --color-red: #ff0202;
  --color-red-border: #dc3545;
  --color-gray-light: #ededed;
  --color-gray: #f8f9fa;
  --color-gray-medium: #d9d9d9;
  --color-gray-dark: #979595;
  --color-line-gray: #7c7a7a;
}
body {
  background-color: var(--color-gray-light);
  font-family: "Open Sans", sans-serif;
}

.was-validated :has(label + input:required, .required) {
  .form-label {
    display: inline-flex !important;
    position: relative;
    &::before {
      content: "*";
      position: absolute;
      right: -10px;
      font-weight: bold;
    }
  }

  &:has(.form-control.is-invalid, .form-control:invalid) {
    .form-label::before {
      color: var(--color-red);
    }
  }
}
.air-datepicker-global-container {
  z-index: 999999;
}

.line {
  border-bottom: 0.2px solid var(--color-line-gray);
}

.card {
  margin-bottom: 15px;
  .card-header {
    background-color: var(--color-gray-medium);
    font-weight: 700;
    border-bottom: 1px solid var(--color-gray-dark);
    font-size: 18px;
    padding: 12px;
  }

  .card-title {
    margin-bottom: 15px;
  }
}

.header {
  display: flex;
  padding: 10px;
  gap: 8px;

  [href="#notifications"],
  .user {
    transition: transform 0.5s ease-in-out;
    &:hover {
      transform: scale(1.05);
    }
  }
  [href="#notifications"] {
    position: relative;
    top: 2px;
    left: -5px;
    .material-symbols-outlined {
      font-size: 22px;
    }
    &:hover {
      .material-symbols-outlined {
        color: var(--color-yellow-light);
      }
    }

    .bg-danger {
      font-size: 10px;
      top: 2px;
      padding: 3px 6px;
      font-weight: bold;
      background-color: var(--color-white) !important;
      color: var(--color-pink);
      border: 1px solid var(--color-white);
    }
  }
}

b {
  font-weight: bold;
}

router-app {
  .invisible {
    display: none;
  }
  .material-icons {
    font-size: 16px;
  }
  .account-info {
    @include display-none(true);
    border: 1px solid var(--color-red-border);
    padding: 10px;
    background-color: var(--color-white);
    border-radius: 5px;
    margin-bottom: 10px;
  }
  [abbrev] {
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    position: relative;
    z-index: -1;
  }
  .selected-value {
    z-index: 0;
    align-items: center;
    display: inline-flex;
    gap: 8px;

    [abbrev] {
      z-index: 0;
    }
  }
  .form-label {
    display: flex;
  }
  @media screen and (max-width: 900px) {
    .item {
      white-space: nowrap;
    }
    .container-current-balance {
      gap: 0;
      position: relative;
      left: 15px;
      .item:first-child {
        margin-right: 5px;
      }
    }
    .apexcharts-toolbar {
      right: -51px !important;
    }
  }

  .current-user {
    font-size: clamp(11px, 5vw, 16px);

    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100px;
    white-space: nowrap;
  }
  .modal {
    --bs-modal-width: 600px;
    --bs-modal-border-radius: 12px;
    .modal-header {
      border-top: 5px solid var(--color-pink);
      .modal-title {
        font-weight: 600;
        font-size: 18px !important;
      }
      .btn-close {
        padding: 2px;
        width: 30px;
        height: 5px;
        --bs-btn-close-color: var(--color-red);
        background-image: url("assets/close-icon.svg");
        &:focus {
          box-shadow: none;
        }
      }
    }

    .modal-footer {
      .btn-closed {
        padding: 5px 16px 5px 16px;
        font-weight: 600;
        &:hover {
          background-color: var(--color-pink-light);
        }
      }
      .btn-add {
        color: var(--color-white);
        background-color: var(--color-pink);
        padding: 5px 16px 5px 16px;
        font-weight: 600;
      }
    }
  }
  header {
    position: fixed;
    z-index: 500;
    width: 100%;
    @include display-align-content(space-between);
    padding: 10px;
    height: 40px;
    background-color: var(--color-pink);
    box-shadow: inset 0px -1px 1px 0px var(--color-red-border);
    font-size: 20px;

    .material-symbols-outlined {
      font-weight: 500;
      color: var(--color-white);
    }
    .material-symbols-outlined.menu {
      cursor: pointer;
      font-weight: 500;
      color: var(--color-white);

      &:hover {
        color: var(--color-yellow-light);
      }
    }

    .account-menu {
      display: none;
      top: 31px;
      right: -15px;
      background-color: var(--color-white);
      width: 150px;

      a {
        text-decoration: none;
      }

      &:has(.dropdown-item:active) {
        background-color: var(--color-pink);
      }
      &:hover {
        background-color: var(--color-violet-light);
      }
      &.active {
        display: block;
        &:has(.active-router) {
          background-color: var(--color-pink);
        }
      }
      .active-router .dropdown-item:hover {
        background-color: var(--color-pink-light);
      }
      .dropdown-item {
        font-weight: 600;
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 10px;
        color: var(--color-black);
        .material-symbols-outlined {
          cursor: pointer;
          color: var(--color-black);
        }
        &:hover {
          background-color: var(--color-violet-light);
          color: var(--color-pink);
          .material-symbols-outlined {
            color: var(--color-pink);
          }
        }
        &:active {
          background-color: var(--color-pink);
          color: var(--color-white);
          .material-symbols-outlined {
            color: var(--color-white);
          }
        }
      }
    }
  }

  .active-router {
    color: var(--color-yellow-light) !important;
    .material-symbols-outlined {
      color: var(--color-yellow-light) !important;
    }
    .dropdown-item {
      color: var(--color-yellow-light) !important;
    }
  }
  .side-nav {
    background-color: var(--color-pink);
    position: fixed;
    z-index: 1;
    width: 0px;
    @media screen and (min-width: 900px) {
      width: 45px;
    }
    overflow: hidden;
    height: 100%;
    top: 40px;
    transition: transform 0.6s ease-in-out, width 0.6s ease-in-out;
    transform: translateX(0rem);
    border-right: 1px solid var(--color-red-border);
    .anchors {
      cursor: pointer;
      @include display-align-content();
      padding: 10px;
      border-bottom: 1px solid var(--color-red-border);
      color: var(--color-white);
      font-weight: 700;
      text-decoration: none;
      transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;

      .material-symbols-outlined {
        color: var(--color-white);
        font-weight: 500;
        margin-right: 15px;
      }
      &:hover {
        transform: scale(1.05);
        .material-symbols-outlined {
          color: var(--color-yellow-light);
        }
      }
    }
    &.active {
      transform: translateX(0rem);
      width: 180px;
    }
  }
  .content-row {
    @include display-align-content(space-between);
    flex-wrap: wrap;
    gap: 10px;
  }

  .input-group {
    margin-top: 10px;
    flex-wrap: wrap;
    .input-group-text {
      background-color: var(--color-gray);
      border-color: var(--color-gray-light);
    }
    .form-control {
      border-color: var(--color-gray-light);
    }
    :focus {
      box-shadow: 0px 0px 2px 1px var(--color-gray-medium);
    }
  }

  .form {
    @include display-align-content();
    gap: 10px;
    flex-wrap: nowrap;
  }

  .btn {
    &:active {
      border: 1px solid var(--color-pink) !important;
    }
    @include display-align-content(center);
    border: 1px solid var(--color-pink);
    transition: background-color ease-in-out 0.5s;
    &:hover {
      border: 1px solid var(--color-pink);
      filter: brightness(90%);
    }
    .icon {
      margin-right: 5px;
    }
  }

  .btn-alt {
    @include display-align-content();
    position: relative;
    background-color: var(--color-white);
    transition: background-color ease-out 0.5s;
    border: 1px solid var(--color-gray-light);
    &:hover {
      background-color: var(--color-gray-light);
      border: 1px solid var(--color-gray-dark);
    }
  }

  .form-group,
  .form-group-2 {
    width: 100%;
  }
  label {
    font-weight: 700;
    margin-bottom: 5px;
  }
  .hidden {
    display: none;
  }

  .form-control,
  .form-select {
    min-height: 40px;
  }
  .form-select {
    gap: 10px;
    line-height: 26px;
    position: relative;
    cursor: pointer;

    &.is-invalid::before,
    &.is-valid::before {
      right: 42px;
    }

    &::before {
      position: absolute;
      content: "";
      background: url("assets/arrow-select.svg");
      width: 16px;
      height: 16px;
      z-index: 2;
      top: 0;
      transform: translateY(75%);
    }
    border: 1px solid var(--color-gray-light);
    white-space: nowrap;
    text-overflow: ellipsis;
    background-size: 18px 52px, calc(7.75em + 3.375rem) calc(7.75em + 69.375rem) !important;

    &[disabled="true"] {
      background-color: var(--bs-secondary-bg) !important;
      border-color: var(--bs-secondary-bg) !important;
      cursor: default !important;
    }
    .search-input {
      position: sticky;
      top: 0;
      z-index: 1;
      border: 1px solid var(--color-gray-dark);
      padding: 5px;
      padding-left: 10px;
      text-transform: uppercase;
      border-radius: 5px;
    }

    .backdrop {
      display: flex;
      flex-direction: column;
      position: absolute;
      width: 100%;
      background: var(--bs-body-bg);
      top: 40px;
      left: 0;
      border-radius: 5px;
      border: 1px solid var(--color-gray-light);
      z-index: 9999;
      max-height: 250px;
      overflow-y: auto;
      .option {
        @include display-align-content();
        gap: 10px;
        padding: 10px;
        transition: background-color 0.2s ease-in-out;
        &:first-child {
          border-radius: 5px 5px 0px 0px;
        }
        &:last-child {
          border-radius: 0px 0px 5px 5px;
        }
        &:not(:last-child) {
          border-bottom: 1px solid var(--color-gray-light);
        }
      }
      &::-webkit-scrollbar {
        width: 8px;
      }

      &::-webkit-scrollbar-track {
        background: var(--color-gray-light);
      }

      &::-webkit-scrollbar-thumb {
        background: var(--color-gray-dark);
      }

      &::-webkit-scrollbar-thumb:hover {
        background: var(--color-gray-medium);
      }
    }
  }
  .side-nav + main {
    &:has(login-page, register-page) {
      margin-left: 0;
      padding-top: 0;
    }
    @media screen and (min-width: 900px) {
      margin-left: 45px;
    }
  }
  .side-nav.active + main {
    margin-left: 180px;
  }
  main {
    position: relative;
    transition: margin-left 0.6s;
    padding-top: 40px;
  }
  .toast {
    display: block;
  }

  #toast-content {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 9999;

    .toast {
      margin-top: 10px;
    }

    .toast-body {
      @include display-align-content();
      gap: 8px;
      font-weight: bold;
    }
    .btn-close {
      --bs-btn-close-color: var(--color-white);
      --bs-btn-close-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffff'><path d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/></svg>");
    }
  }
  .user {
    display: flex;
    align-items: center;
    color: var(--color-white);
    gap: 8px;
    font-weight: bold;
    cursor: pointer;
  }
  .delete,
  .edit,
  .duplicate,
  .add-account {
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
  }
  .delete {
    color: var(--color-red);
  }
  .edit {
    color: var(--color-pink);
  }
  .duplicate,
  .add-account {
    color: var(--color-orange);
  }
  td,
  th {
    padding-bottom: 0.2rem !important;
    white-space: nowrap;
  }
  td:last-child,
  td:first-child,
  th:last-child,
  th:first-child {
    text-align: center;
  }
  .page-title {
    font-weight: bold;
    color: var(--color-white);
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 4px;
    margin-left: 15px;
  }
  .content {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .container-pagination {
    margin-top: 15px;
    align-self: center;
    .page-item {
      .page-link {
        color: var(--color-pink);
      }
      .page-actually {
        background-color: var(--color-pink);
        color: var(--color-white);
      }
      .page-previous,
      .page-next {
        transition: background-color ease-out 0.5s;
        &:disabled {
          cursor: not-allowed;
          background-color: var(--color-pink-light);
        }
        &:hover {
          filter: contrast(85%);
        }
      }
    }
  }

  login-page,
  register-page {
    @include pageStyle(normal);
    gap: 10px;
    align-items: center;
    background: linear-gradient(124deg, rgba(245, 245, 245, 1) 7%, rgba(255, 229, 232, 1) 44%);
    height: 100vh;
    justify-content: center;
    .card {
      padding: 10px;
      width: 100%;
      max-width: 600px;
    }
    .card-illustration {
      align-items: center;
      gap: 10px;
      .illustration {
        width: 300px;
      }
    }
    @media screen and (max-width: 900px) {
      flex-direction: column !important;
      height: 100%;
    }
  }
}
.air-datepicker-nav--action path {
  stroke: var(--color-pink);
}
.air-datepicker-nav--title,
.air-datepicker-body--day-name,
.air-datepicker-nav--title i {
  color: var(--color-pink);
}

.air-datepicker-cell {
  &:not(.-disabled-) {
    color: var(--color-pink);
  }

  border-radius: 50%;
  &.-disabled- {
    cursor: not-allowed;
    color: #655c5d !important;
    background: #bfbfbff2;
    filter: opacity(0.6);
  }

  &.-current- {
    color: var(--color-pink);
    background: var(--color-pink-light);
    border: 1px solid var(--color-pink);
  }
  &:hover {
    border-radius: 50%;
  }

  &.-selected- {
    border-radius: 50%;
    color: #fff;
    border: none;
    background: var(--color-pink) !important;
  }
}

.air-datepicker-cell.-day-.-other-month-:not(.-disabled-) {
  color: var(--color-pink);
  background: var(--color-pink-medium);
  filter: opacity(0.3);
  font-weight: bold;
}
