@mixin pageStyle($direction: row) {
  display: flex;
  flex-direction: $direction;
  padding: 10px;
  min-width: 330px;
}
@mixin display-align-content($content: normal) {
  display: flex;
  align-items: center;
  justify-content: $content;
}
@mixin display-none($display: true) {
  @if $display {
    display: none;
  } @else {
    display: flex;
  }
}
