@mixin pageStyle($direction: row) {
  display: flex;
  flex-direction: $direction;
  padding: 10px;
}
@mixin display-align-content($content: normal) {
  display: flex;
  align-items: center;
  justify-content: $content;
}
@mixin display-none($display: true) {
  @if $display {
    display: none;
  } @else {
    display: flex;
  }
}
@mixin btn-simple() {
  @include display-align-content(center);
  border: 1px solid var(--color-pink);
  color: var(--color-pink);
  background-color: var(--color-white);
  transition: background-color ease-in-out 0.5s;
  font-weight: 600;
  &:hover {
    border: 1px solid var(--color-pink);
    color: var(--color-pink);
    background-color: var(--color-pink-light);
    filter: brightness(110%);
  }
  &:active {
    border: 1px solid var(--color-pink) !important;
    color: var(--color-pink) !important;
    background-color: var(--color-pink-light) !important;
    filter: brightness(90%);
  }
}
@mixin btn-filled() {
  color: var(--color-white);
  background-color: var(--color-pink);
  transition: background-color ease-in-out 0.5s;
  font-weight: 600;
  &:hover {
    border: 1px solid var(--color-pink);
    color: var(--color-white);
    background-color: var(--color-pink);
    filter: brightness(90%);
  }
  &:active {
    border: 1px solid var(--color-pink) !important;
    color: var(--color-white) !important;
    background-color: var(--color-pink) !important;
    filter: brightness(110%);
  }
}
